*, *:before, *:after {
  box-sizing: border-box; }

img, embed, object, video {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Open Sans Condensed', sans-serif !important; }

.social_anchor {
  display: block; }
  .social_anchor:visited {
    color: #6dbfe6; }

.facebook {
  font-size: 2em; }
  .facebook button {
    border: none;
    background: none;
    color: #525fa7; }

.twitter {
  font-size: 2em; }
  .twitter button {
    border: none;
    background: none;
    color: #6faaf3; }

.jumbotron {
  height: 35vh; }

.jumbotron h1 {
  background-color: black;
  color: white; }

.contactP {
  font-size: 1.2em; }

.hoursP {
  font-size: 2em; }

.anchorLinkMap button {
  margin-bottom: 20px; }

.mainFooter, .footerP {
  overflow: hidden;
  margin: 0;
  padding: 0; }

.caption {
  background: #343434;
  border-radius: 1%; }
  .caption p {
    font-size: 1.2em;
    font-weight: bolder;
    color: white; }
  .caption h3 {
    color: white; }
  .caption .mainH3 {
    font-size: 2em;
    font-weight: bolder; }

.directionsH3 {
  font-size: 3em; }

.footerP {
  font-size: 2em;
  font-weight: bolder; }

.homeColumn {
  background: #343434;
  color: white; }
  .homeColumn .homeH1 {
    margin: 0;
    font-size: 3em;
    font-weight: bolder; }

.phoneB {
  font-size: 1.7em; }

.hero-feature .homeP {
  font-size: 1.4em; }

.showServiceDiv img {
  height: 300px; }

.showServiceRow {
  padding-top: 40px; }

.contactH {
  color: white;
  display: block; }

.emailInput {
  width: 220px; }

.emailButton {
  display: block;
  margin: 0 auto; }

input.ng-invalid, textarea.ng-invalid {
  border: none;
  box-shadow: 0px 0px 10px red; }

input.ng-valid, textarea.ng-valid {
  border: none;
  box-shadow: 0px 0px 10px green; }

.formInvalid {
  color: red; }

.formValid {
  color: green; }

.navbar {
  border: none; }
