<!-- <h1>MENS HAIR REPLACEMENT</h1> -->

<div class="row text-center showServiceRow">

  <div class="col-sm-12 col-md-12 col-lg-12 hero-feature">
    <div class="thumbnail showServiceDiv">
      <div class="caption">
        <img src="/images/hair_replacement_mens.jpg" alt="">
        <h3>Men's hair replacements, sales, and service</h3>
        <p>We sell and service all men's hair systems.</p>
        <p class="serviceP">
          <a ui-sref="contact" class="btn btn-primary">Book Now</a>
        </p>
      </div>
    </div>
  </div>


</div>
