<!-- <h1>MENS HAIRCUTS AND SHAVES</h1> -->
<div class="row text-center showServiceRow">
  <div class="col-sm-12 col-md-12 col-lg-12 hero-feature">
    <div class="thumbnail showServiceDiv">
      <div class="caption">
        <img src="/images/mens_haircut.jpg" alt="">
        <h3>Men's haircuts and shaves</h3>
        <p>Old fashion barber haircuts and shaves. Hot towel, scalp, and shoulder massage with each service.</p>
        <p class="serviceP">
          <a ui-sref="contact" class="btn btn-primary">Book Now</a>
        </p>
      </div>
    </div>
  </div>

</div>
