<div class="row text-center showServiceRow">

  <div class="col-sm-12 col-md-12 col-lg-12 hero-feature">
    <div class="thumbnail showServiceDiv">
      <div class="caption">
        <img src="/images/mens_manicure.jpg" alt="">
        <h3>Men's manicures and pedicures</h3>
        <p> We provide manicures and pedicures for men, now you don't need to go to a salon for your manicure and pedicure or just to have your nails trimmed.</p>
        <p class="serviceP">
          <a ui-sref="contact" class="btn btn-primary">Book Now</a>
        </p>
      </div>
    </div>
  </div>

</div>
