<!-- <h1>WOMENS HAIR REPLACEMENT</h1> -->

<div class="row text-center showServiceRow">

  <div class="col-sm-12 col-md-12 col-lg-12 hero-feature">
    <div class="thumbnail showServiceDiv">
      <div class="caption">
        <img src="/images/womens_hair_red.jpg" alt="">

        <h3>Women's hair replacements, wigs, sales, and service</h3>
        <p>We sell and service all women's hair systems and wigs.</p>
        <p class="serviceP">
          <a ui-sref="contact" class="btn btn-primary">Book Now</a>
        </p>
      </div>
    </div>
  </div>


</div>
