<!-- Page Content -->
<div class="container">

  <div class="row row-centered">
    <div class="col-lg-12 col-centered text-center thumbnail"><div class="item"><div class="content">
      <div class="homeColumn">
        <h1 class="panel-primary homeH1">Legacy Barber and Style Inc.</h1>
        <br>
        <p class="contactP">
          <b>Address:</b>
          7380 S Eastern Ave #122
          Las Vegas NV, 89123
        </p>
        <p class="contactP">
          <b>Phone Number:</b>
          702-262-6466
        </p>
        <a href="https://www.facebook.com/legacybarber" class="social_anchor" target="_blank">
          <span class="facebook">Like us on Facebook!
            <button class="fa fa-facebook-official">
            </button>
          </span>
        </a>

        <a href="https://twitter.com/@legacyfrank" class="social_anchor" target="_blank">
          <span class="twitter">Follow us on Twitter!
            <button class="fa fa-twitter-square">
            </button>
          </span>
        </a>
      </div>
    </div></div></div>
  </div>

  <header class="jumbotron hero-spacer text-center"></header>



  <div class="row">

    <div class="row text-center">

      <div class="col-sm-12 col-md-12 col-lg-12 hero-feature">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="mainH3">What we do</h3>
            <p class="homeP">
              Legacy Barber and Style Inc. is a barber shop in Las Vegas that specializes in flat tops, razor cuts, fades, shaves and more. Let our barbers give you a complete style that will compliment you. We are locally owned and operated in Las Vegas and we look forward to serving you. <br> <b class="phoneB">Call Legacy Barber and Style Inc. today to schedule an appointment: 702-262-6466</b>
            </p>
          </div>
        </div>
      </div>

      <hr>

      <div class="col-sm-12 col-md-12 col-lg-12 hero-feature">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="mainH3">Our Mission</h3>
            <p class="homeP">If you're not happy we're not happy. Please address any concerns you may have with us so we may make this the best experience you ever had in a Barber Shop. <br> Remember without YOU there is no US.</p>
          </div>
        </div>
      </div>

      <hr>

      <h1 class="panel-primary">Our services</h1>

      <div class="col-sm-6 col-md-6 col-lg-6 hero-feature">
        <div class="thumbnail serviceDiv">
          <div class="caption">
            <img src="/images/mens_haircut.jpg" alt="">
            <h3>Men's haircuts and shaves</h3>
            <p class="serviceP">
              <a ui-sref="contact" class="btn btn-primary">Book Now</a> <a ui-sref="mens_haircuts_and_shaves" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 hero-feature">
        <div class="thumbnail serviceDiv">
          <div class="caption">
            <img src="/images/mens_manicure.jpg" alt="">
            <h3>Men's manicures and pedicures</h3>
            <p class="serviceP">
              <a ui-sref="contact" class="btn btn-primary">Book Now</a> <a ui-sref="mens_manicures_and_pedicures" class="btn btn-default">More Info</a>            </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6  hero-feature">
          <div class="thumbnail serviceDiv">
            <div class="caption">
              <img src="/images/hair_replacement_mens.jpg" alt="">
              <h3>Men's hair replacements, sales, and service</h3>
              <p class="serviceP">
                <a ui-sref="contact" class="btn btn-primary">Book Now</a> <a ui-sref="mens_hair_replacement" class="btn btn-default">More Info</a>            </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-6 hero-feature ">
            <div class="thumbnail serviceDiv">
              <div class="caption">
                <img src="/images/womens_hair_red.jpg" alt="">

                <h3>Women's hair replacements, wigs, sales, and service</h3>
                <p class="serviceP">
                  <a ui-sref="contact" class="btn btn-primary">Book Now</a> <a ui-sref="womens_hair_replacement" class="btn btn-default">More Info</a>            </p>
                </div>
              </div>
            </div>

          </div>

          <hr>

          <div class="row row-centered">
            <div class="col-sm-12 col-md-12 col-lg-12 col-centered text-center">
              <h3 class="directionsH3">Directions</h3>
              <a class="anchorLinkMap" href="https://www.google.com/maps/dir//7380+S+Eastern+Ave+%23122,+Las+Vegas,+NV+89123/@36.0560638,-115.119288,17z/data=!4m13!1m4!3m3!1s0x80c8cfeacc3be101:0x4feace9afe6811ff!2s7380+S+Eastern+Ave+%23122,+Las+Vegas,+NV+89123!3b1!4m7!1m0!1m5!1m1!1s0x80c8cfeacc3be101:0x4feace9afe6811ff!2m2!1d-115.1170993!2d36.0560638" target="_blank">
                <button class="btn btn-primary">Get Directions</button>
              </a>
              <p class="contactP">
                <b>Address:</b>
                7380 S Eastern Ave #122
                Las Vegas NV, 89123
              </p>
              <iframe
              id="map"
              width="80%"
              height="350"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDijFm4Wotf-189Mszusrnm-Q3ADbMg9-o&q=Legacy+Barber+and+Style+Las+Vegas" allowfullscreen>
            </iframe>
          </div>
        </div>

        <hr>



      </div>




      <!-- <iframe src="http://maps.google.com/maps?q=12.927923,77.627108&z=15&output=embed"></iframe> -->
