<div class="container">
  <div class="row row-centered">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered text-center"><div class="item"><div class="content">

      <h1 class="panel-primary">Legacy Barber and Style inc.</h1>

      <p class="hoursP lead">
        <b>Hours of operation:</b>
        <br>
        Saturday	8AM–3PM
        <br>
        Sunday	Closed
        <br>
        Monday	Closed
        <br>
        Tuesday	8:30AM–5:30PM
        <br>
        Wednesday	8:30AM–5:30PM
        <br>
        Thursday	8:30AM–5:30PM
        <br>
        Friday	8:30AM–5:30PM
      </p>

      <hr>

      <div class="row row-centered">
        <div class="col-sm-12 col-md-12 col-lg-12 col-centered">
          <a class="anchorLinkMap" href="https://www.google.com/maps/dir//7380+S+Eastern+Ave+%23122,+Las+Vegas,+NV+89123/@36.0560638,-115.119288,17z/data=!4m13!1m4!3m3!1s0x80c8cfeacc3be101:0x4feace9afe6811ff!2s7380+S+Eastern+Ave+%23122,+Las+Vegas,+NV+89123!3b1!4m7!1m0!1m5!1m1!1s0x80c8cfeacc3be101:0x4feace9afe6811ff!2m2!1d-115.1170993!2d36.0560638" target="_blank">
            <button class="btn btn-primary">Get Directions</button>
          </a>
          <p class="contactP">
            <b>Address:</b>
            7380 S Eastern Ave #122
            Las Vegas NV, 89123
          </p>
          <script src="/javascripts/google_maps/map.js"></script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
          <div class="jumbotron" id="map"></div>
        </div>
      </div>
    </div></div></div>
  </div>
</div>
